node-red-Dash2Hue.json
[{"id":"3030e552.cfcf1a","type":"subflow","name":"selectLamp","info":"","in":[{"x":63,"y":120,"wires":[{"id":"6712c3df.98ed3c"},{"id":"cba07f40.345f8"}]}],"out":[{"x":379,"y":86,"wires":[{"id":"6712c3df.98ed3c","port":0}]},{"x":377,"y":140,"wires":[{"id":"6712c3df.98ed3c","port":1}]},{"x":376,"y":187,"wires":[{"id":"6712c3df.98ed3c","port":2}]}]},{"id":"6712c3df.98ed3c","type":"switch","z":"3030e552.cfcf1a","name":"","property":"dashButtonID","propertyType":"global","rules":[{"t":"eq","v":"Hefty","vt":"str"},{"t":"eq","v":"Glad","vt":"str"},{"t":"eq","v":"AmazonElements","vt":"str"}],"checkall":"false","outputs":3,"x":208,"y":119,"wires":[[],[],[]]},{"id":"cba07f40.345f8","type":"function","z":"3030e552.cfcf1a","name":"","func":"node.log(\"Button ID is \" + global.get(\"dashButtonID\"));\nreturn msg;","outputs":1,"noerr":0,"x":373,"y":342,"wires":[[]]},{"id":"52a2630e.ad5d9c","type":"http in","z":"6b2cfedc.94d3","name":"/dash-button","url":"/dash-button","method":"post","swaggerDoc":"","x":146,"y":115,"wires":[["89124d1e.76edb","bb91135.f446ef","28ba1323.d745ec"]]},{"id":"89124d1e.76edb","type":"debug","z":"6b2cfedc.94d3","name":"","active":true,"console":"false","complete":"payload.button","x":488,"y":105,"wires":[]},{"id":"fc34d0ac.03cb3","type":"Hue Pull","z":"6b2cfedc.94d3","deviceid":"4","serverid":"001788fffe2359b2","name":"Office light","x":546,"y":218,"wires":[["7feef266.80110c"],[]]},{"id":"7bf8147a.8407ec","type":"Hue Pull","z":"6b2cfedc.94d3","deviceid":"2","serverid":"001788fffe2359b2","name":"Office corner","x":545,"y":258,"wires":[["7feef266.80110c"],[]]},{"id":"3bbda8b8.c44258","type":"subflow:3030e552.cfcf1a","z":"6b2cfedc.94d3","name":"","x":339,"y":237,"wires":[["fc34d0ac.03cb3"],["7bf8147a.8407ec"],["7fcde5d1.80321c"]]},{"id":"bb91135.f446ef","type":"http response","z":"6b2cfedc.94d3","name":"","x":437,"y":145,"wires":[]},{"id":"7feef266.80110c","type":"switch","z":"6b2cfedc.94d3","name":"isOn","property":"payload.state.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":718,"y":241,"wires":[["c3d96edc.3c269","7c39ce23.83c63"],["6c1012f6.93efec"]]},{"id":"e10f5901.1ef0a8","type":"Hue Set","z":"6b2cfedc.94d3","deviceid":"4","serverid":"001788fffe2359b2","name":"Office light","x":1131,"y":372,"wires":[[],[]]},{"id":"28ba1323.d745ec","type":"change","z":"6b2cfedc.94d3","name":"setButtonID","rules":[{"t":"set","p":"dashButtonID","pt":"global","to":"payload.button","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":237,"wires":[["3bbda8b8.c44258"]]},{"id":"b956df1.f46a92","type":"Hue Set","z":"6b2cfedc.94d3","deviceid":"2","serverid":"001788fffe2359b2","name":"Office corner","x":1119,"y":424,"wires":[[],[]]},{"id":"71f8bebd.8e074","type":"subflow:3030e552.cfcf1a","z":"6b2cfedc.94d3","x":824,"y":429,"wires":[["e10f5901.1ef0a8"],["b956df1.f46a92"],["2dc6a684.d2395a"]]},{"id":"c3d96edc.3c269","type":"debug","z":"6b2cfedc.94d3","name":"","active":true,"console":"false","complete":"true","x":970,"y":98,"wires":[]},{"id":"6c1012f6.93efec","type":"function","z":"6b2cfedc.94d3","name":"Hue on","func":"msg.payload={\n\t\t\t\"on\":[true],\n\t\t}\nreturn msg;","outputs":1,"noerr":0,"x":905,"y":262,"wires":[["71f8bebd.8e074"]]},{"id":"7c39ce23.83c63","type":"function","z":"6b2cfedc.94d3","name":"Hue off","func":"msg.payload={\n\t\t\t\"on\":[false],\n\t\t}\nreturn msg;","outputs":1,"noerr":0,"x":905,"y":224,"wires":[["71f8bebd.8e074"]]},{"id":"7fcde5d1.80321c","type":"Hue Pull","z":"6b2cfedc.94d3","deviceid":"3","serverid":"001788fffe2359b2","name":"Bedroom light","x":555,"y":302,"wires":[[],[]]},{"id":"2dc6a684.d2395a","type":"Hue Set","z":"6b2cfedc.94d3","deviceid":"3","serverid":"001788fffe2359b2","name":"Bedroom light","x":1128,"y":469,"wires":[[],[]]}]
